<!doctype html>
<html>
<head>
  <meta name="description" content="hodss, who am i? what do i do?" />
  <link
    rel="icon"
    href="/src/cdn/hodfolds.png"
    type="image/png"
  />
  <title>hodss</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<link href="/public/style.css" rel="stylesheet" type="text/css">
 

</head>
  <body>
     
    
  </div>
<div class="knows" style="width: 600px; padding: 30px; margin-top: 30px; height: auto;">
  <h1>Privacy Notice (Updated 4/22/22)</h1>
<p>
Your Privacy is our Priority <br> <br>
  1. Cookies <br>
  When using services offered by hodss.xyz and TSSCAC we may use some essential cookies ot allow site function. These may be things like signup and login cookies. Otherwise, there are no other cookies.
  <br> <br>
  2. Analytics <br> 
  We use JuSoft Insights to gather analytical information. Your data is secure, and your information is deleted after 7 days.
  <br> <br>
  3. Storage of data <br>
  Locations of storage servers are: The United Kingdom, The United States of America. Your data is secure and non essential data (e.g. payment information) is deleted after 7 days. We may keep your email and password to ensure the correct usage of our sites and login systems.
  <br> <br>
  4. Our Right to change this policy and notice <br>
  We have the right to change this policy with a 3 day notice and if you are a registered user or on a mailing list (which you can be part of by emailing hod@hodss.xyz and asking to be apart of the newsletter/mailing list.) you will be notified via email.
  <br> <br>
  5. Data handling <br>
  Contact hod@hodss.xyz to have your data removed immediately.
  <br> <br>
  6. Misc <br> <u>
  <a href="https://insights.jusoft.dev"> JuSoft Insights</a></u> <u>
  <a href="mailto:hod@hodss.xyz">Contact Email</a></u> <u>
  <a href="https://hodss.xyz/src/misc/privacyarchive.html"> Privacy Notice Archive</a> </u>
</p>
  <!-- former policy
<p id="privacy">Your Privacy is Our Priority. <br> <br>
When using any service offered by hodss.xyz or TSSCAC we may use some essential cookies to allow site function. Examples of this may be login cookies that allow us to continue to keep you signed in when on certain pages of our sites. We use analytical information only gatherable by looking at bandwidth expenses. Your data may be stored in a secure database only accessable via secure storage servers located in the United States of America and the United Kingdom. The data we may use from you is: Email, a username, and passwords. Your data is secure, and can be deleted at any time. You will also be notified if our privacy policies EVER change, so long as you are registered or email hod@hodss.xyz to request to be put on the mailing list. If you wish to have your data wiped, please email hod@hodss.xyz. We do not track you, ever! -->

</p> </div>
    <div class="center">
      <p>
<u>
  <a href="/"> Homepage
  </a>
  </u>
        </p>
    </div>
<br>



<p>Copyright (&copy;) JWD "hod" | hod@hodss.xyz</p>
    
  </body>
</html>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1500,
    once: true,
  });
</script>